.card-main{
    height: 70%;
    width: 30%;
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 83%;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.507);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 35px;
    }
    .textbox{
        width: 100%;
    }

   