.carousel-item  img {
  
  height: 500px;
     
    
}
.carousel{
  width: 95%;
  top:10%
}
.text-heading{
    margin-bottom: 59%;
    margin-right: 100%;
    
}
.image-text{
  font-family: 'Girassol', cursive;
}
.reviews{
  margin-bottom: 50%;
}
.reviews1{
  margin-bottom: 60%;
}
