
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
       
h1{
    color:rgb(170, 11, 190);
    font-family: 'Secular One', sans-serif
}
label{
    color:rgb(14, 11, 187);
}
.mback input{
    margin-bottom: 3%;
}
.mback{
    padding:5px;
    margin-top: 5%;
}
.changePassform{
    padding:3px;
    /* background-image: url("./image2.jpg"); */
    background-position:Left center;
    background-repeat: no-repeat;
}


